<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MySQL.Host" value="localhost" />
        <add key="MySQL.Port" value="3306" />
        <add key="MySQL.Name" value="yachu" />
        <add key="MySQL.UserId" value="root" />
        <add key="MySQL.Password" value="root" />
    </appSettings>
</configuration>